/* TODO (optional): Define styles for dark mode */

/* TODO (optional): Ensure text and background colors adjust for dark mode */
.darkMode {
  background-color: #121212;
  color: white;
  min-height: 100vh;
  width: 100vw;
}

.lightMode {
  background-color: white;
  color: black;
  min-height: 100vh;
  width: 100vw;
}